.screen6ContainerMain {
  height: 100vh;
  overflow: hidden;
  padding-left: calc(37 / 19.2 * 1vw);
  padding-right: calc(90 / 19.2 * 1vw);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.screen6ContainerMainLeftTop {
  display: flex;
  justify-content: space-between;
}

.screen6ContainerMainLeft {
  width: calc(1267 / 19.2 * 1vw);
  height: 100%;
  background: url("../assets/images/screen6/example1.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top left;
  padding-right: calc(41 / 19.2 * 1vw);
  padding-bottom: calc(16.5 / 19.2 * 1vw);
  transition: all 0.1s linear;
}

.screen6ContainerMainLeftInsideLeft {
  padding-left: calc(38 / 19.2 * 1vw);
  display: flex;
  flex-direction: column;
  row-gap: calc(70 / 19.2 * 1vw);
  > img {
    width: calc(148 / 19.2 * 1vw);
  }
  > .box {
    width: calc(285 / 19.2 * 1vw);
    padding: calc(21 / 19.2 * 1vw) calc(17 / 19.2 * 1vw) calc(21 / 19.2 * 1vw)
      calc(21 / 19.2 * 1vw);
    border-radius: calc(30 / 19.2 * 1vw);
    background: rgba(255, 255, 255, 1);
    opacity: 0.71;
    margin-left: calc(11 / 19.2 * 1vw);
  }
  .boxTextTop,
  .boxTextBottom {
    display: flex;
    flex-direction: column;
    row-gap: calc(10 / 19.2 * 1vw);
    > p:nth-child(1) {
      font-family: Raleway;
      font-size: calc(22 / 19.2 * 1vw);
      font-weight: 600;
      line-height: calc(25 / 19.2 * 1vw);
      text-align: left;
      color: rgba(14, 14, 14, 1);
    }
    > p:nth-child(2) {
      font-family: Raleway;
      font-size: calc(16 / 19.2 * 1vw);
      font-weight: 400;
      line-height: calc(25 / 19.2 * 1vw);
      text-align: left;
      color: rgba(49, 49, 49, 1);
    }
  }
  .boxTextBottom {
    margin-top: calc(22 / 19.2 * 1vw);
  }
}

.screen6ContainerMainLeftInsideright {
  width: calc(285 / 19.2 * 1vw);
  height: calc(260 / 19.2 * 1vw);
  display: flex;
  flex-direction: column;
  row-gap: calc(10 / 19.2 * 1vw);
  padding: calc(21 / 19.2 * 1vw) calc(17 / 19.2 * 1vw) calc(21 / 19.2 * 1vw)
    calc(21 / 19.2 * 1vw);
  border-radius: calc(30 / 19.2 * 1vw);
  background: rgba(255, 255, 255, 1);
  opacity: 0.71;
  margin-top: calc(28 / 19.2 * 1vw);
  > p:nth-child(1) {
    font-family: Raleway;
    font-size: calc(22 / 19.2 * 1vw);
    font-weight: 600;
    line-height: calc(25 / 19.2 * 1vw);
    text-align: left;
    color: rgba(14, 14, 14, 1);
  }
  > p:nth-child(2) {
    font-family: Raleway;
    font-size: calc(16 / 19.2 * 1vw);
    font-weight: 400;
    line-height: calc(25 / 19.2 * 1vw);
    text-align: left;
    color: rgba(49, 49, 49, 1);
  }
}

.screen6ContainerMainLeftBottom {
  margin-top: calc(86 / 19.2 * 1vw);
  .example3 {
    display: flex;
    align-items: center;
    column-gap: calc(14 / 19.2 * 1vw);
    > button {
      width: calc(146 / 19.2 * 1vw);
      height: calc(55 / 19.2 * 1vw);
      background: url("../assets/images/screen6/btnBg.svg");
      background-size: 100%;
      background-repeat: no-repeat;
      border: none;
    }
    > p {
      font-family: Raleway;
      font-size: calc(18 / 19.2 * 1vw);
      font-weight: 500;
      line-height: calc(79 / 19.2 * 1vw);
      text-align: left;
      color: rgba(130, 130, 130, 1);
    }
  }
}

.textBold {
  font-family: Orbitron;
  font-size: calc(88 / 19.2 * 1vw);
  font-weight: 900;
  line-height: calc(122 / 19.2 * 1vw);
  text-align: left;
  color: rgba(35, 40, 45, 1);
  text-transform: uppercase;
}

.textWithBtns {
  display: flex;
  align-items: center;
  column-gap: calc(47 / 19.2 * 1vw);
  margin-left: calc(53 / 19.2 * 1vw);
  > p {
    font-family: Orbitron;
    font-size: calc(88 / 19.2 * 1vw);
    font-weight: 400;
    line-height: calc(103 / 19.2 * 1vw);
    text-align: left;
    color: rgba(35, 40, 45, 1);
    text-transform: uppercase;
  }
  > div {
    display: flex;
    flex-direction: column;
    row-gap: calc(9 / 19.2 * 1vw);
    > button,
    > div > button {
      font-family: Raleway;
      font-size: calc(20 / 19.2 * 1vw);
      font-weight: 500;
      line-height: calc(55 / 19.2 * 1vw);
      text-align: left;
      color: rgba(0, 0, 0, 1);
      border-radius: calc(100 / 19.2 * 1vw);
      border: none;
      text-align: center;
    }
    > button {
      padding: 0 calc(51.5 / 19.2 * 1vw);
    }
    > div > button {
      padding: 0 calc(24.5 / 19.2 * 1vw);
    }
    > div {
      display: flex;
      align-items: center;
      column-gap: calc(9 / 19.2 * 1vw);
    }
  }
}

.screen6ContainerMainRight {
  width: calc(496 / 19.2 * 1vw);
  height: 100vh;
  padding: calc(20 / 19.2 * 1vw) 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  row-gap: calc(25 / 19.2 * 1vw);
}

.screen6ContainerMainRight > * {
  min-height: 0;
  flex-shrink: 0;
}

.rightBox {
  width: calc(496 / 19.2 * 1vw);
  position: relative;
  transition: all 0.1s linear;
  &:active {
    opacity: 0.8;
  }
  &:hover {
    opacity: 0.5;
  }
}

.rightBox1,
.rightBox4 {
  height: calc(383 / 19.2 * 1vw);
  background: url("../assets/images/screen6/exampleRight1.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.rightBoxTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(17 / 19.2 * 1vw) calc(17.36 / 19.2 * 1vw) 0
    calc(17 / 19.2 * 1vw);
  > p {
    font-family: Raleway;
    font-size: calc(20 / 19.2 * 1vw);
    font-weight: 500;
    line-height: calc(65 / 19.2 * 1vw);
    text-align: left;
    padding: 0 calc(36.5 / 19.2 * 1vw);
    border-radius: calc(100 / 19.2 * 1vw);
    background: rgba(255, 255, 255, 1);
  }
  > .socialBtns {
    display: flex;
    align-items: center;
    column-gap: calc(11 / 19.2 * 1vw);
    > button {
      width: calc(54 / 19.2 * 1vw);
      height: calc(54 / 19.2 * 1vw);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      > img {
        width: calc(20 / 19.2 * 1vw);
      }
    }
    > button:nth-child(2) {
      > img {
        width: calc(22 / 19.2 * 1vw);
      }
    }
  }
}

.rightBoxBottom {
  display: flex;
  justify-content: space-between;
  margin-top: calc(180 / 19.2 * 1vw);
  padding-left: calc(17 / 19.2 * 1vw);
  > p {
    width: calc(329 / 19.2 * 1vw);
    font-family: Raleway;
    font-size: calc(22 / 19.1 * 1vw);
    font-weight: 600;
    line-height: calc(29 / 19.2 * 1vw);
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding: calc(24 / 19.2 * 1vw) calc(33 / 19.2 * 1vw);
    background: rgba(255, 255, 255, 0.37);
    backdrop-filter: blur(15px);
    border-radius: calc(20 / 19.2 * 1vw);
  }
}

.rightBox2,
.rightBox5 {
  height: calc(207 / 19.2 * 1vw);
  background: url("../assets/images/screen6/rightBox2.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  padding: calc(23 / 19.2 * 1vw) calc(41 / 19.2 * 1vw) calc(20 / 19.2 * 1vw)
    calc(12 / 19.2 * 1vw);
  position: relative;
}

.rightBox2Text {
  display: flex;
  align-items: center;
  > p {
    font-family: Raleway;
    font-size: calc(30 / 19.2 * 1vw);
    font-weight: 600;
    line-height: calc(35 / 19.2 * 1vw);
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }
}

.rightBox2TextBg1 {
  width: calc(139 / 19.2 * 1vw);
  height: calc(138 / 19.2 * 1vw);
  background: url("../assets/images/screen6/rightBox2TextBg1.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(5 / 19.2 * 1vw);
}

.rightBox2TextBg2 {
  width: calc(128 / 19.2 * 1vw);
  height: calc(127 / 19.2 * 1vw);
  background: url("../assets/images/screen6/rightBox2TextBg2.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.circleBtnWithArrowIcon {
  width: calc(61 / 19.2 * 1vw);
  height: calc(61 / 19.2 * 1vw);
  border-radius: 50%;
  background: rgba(35, 40, 45, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  > img {
    width: calc(23.4 / 19.2 * 1vw);
  }
}

.rightBox3 {
  height: calc(279 / 19.2 * 1vw);
  background: url("../assets/images/screen6/rightBox3Bg.webp");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: calc(17.13 / 19.2 * 1vw) 0 calc(22 / 19.2 * 1vw)
    calc(17 / 19.2 * 1vw);
  > p {
    width: calc(314 / 19.2 * 1vw);
    padding: calc(15 / 19.2 * 1vw) calc(36 / 19.2 * 1vw) calc(14 / 19.2 * 1vw)
      calc(33 / 19.2 * 1vw);
    border-radius: calc(20 / 19.2 * 1vw);
    background: rgba(255, 255, 255, 0.37);
    backdrop-filter: blur(15px);
    font-family: Raleway;
    font-size: calc(22 / 19.2 * 1vw);
    font-weight: 600;
    line-height: calc(29 / 19.2 * 1vw);
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }
  .rightBox3BottomText {
    display: flex;
    align-items: center;
    column-gap: calc(30 / 19.2 * 1vw);
    margin-top: calc(89 / 19.2 * 1vw);
    > p {
      font-family: Orbitron;
      font-size: calc(56 / 19.2 * 1vw);
      font-weight: 900;
      line-height: calc(65 / 19.2 * 1vw);
      text-align: left;
      color: rgba(255, 255, 255, 1);
    }
    > button {
      border: none;
      border-radius: calc(100 / 19.2 * 1vw);
      background: rgba(255, 255, 255, 1);
      padding: 0 calc(36 / 19.2 * 1vw);
      font-family: Raleway;
      font-size: calc(20 / 19.2 * 1vw);
      font-weight: 500;
      line-height: calc(55 / 19.2 * 1vw);
      text-align: left;
      color: rgba(0, 0, 0, 1);
    }
  }
}

.rightBox4 {
  background: url("../assets/images/screen6/rightBox4Bg.webp");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.rightBox5 {
  > .rightBox2Text {
    > .rightBox2TextBg1 {
      > .rightBox2TextBg2 {
        background: url("../assets/images/screen6/rightBox5Img.webp");
        background-size: 95%;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}

.rightBox6,
.rightBox7 {
  height: calc(384 / 19.2 * 1vw);
  background: url("../assets/images/screen6/rightBox6.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  > .rightBox2Text {
    display: flex;
    flex-direction: column;
    row-gap: calc(29 / 19.2 * 1vw);
    align-items: flex-start;
    padding-left: calc(35 / 19.2 * 1vw);
    padding-right: calc(24 / 19.2 * 1vw);
    > div {
      width: calc(437 / 19.2 * 1vw);
      height: calc(121 / 19.2 * 1vw);
      background: url("../assets/images/screen6/textBg.webp");
      display: flex;
      align-items: center;
      > p {
        font-family: Raleway;
        font-size: calc(40 / 19.2 * 1vw);
        font-weight: 900;
        line-height: calc(37 / 19.2 * 1vw);
        text-align: left;
        color: rgba(255, 255, 255, 1);
        text-shadow: 10px 1px 20px #000;
      }
    }
    > button {
      font-family: Raleway;
      font-size: calc(20 / 19.2 * 1vw);
      font-weight: 500;
      line-height: calc(55 / 19.2 * 1vw);
      text-align: left;
      color: rgba(0, 0, 0, 1);
      background: rgba(255, 255, 255, 1);
      border-radius: calc(100 / 19.2 * 1vw);
      border: none;
      padding: 0 calc(33.5 / 19.2 * 1vw);
    }
  }
}

.rightBox7 {
  height: calc(384 / 19.2 * 1vw);
  background: url("../assets/images/screen6/rightBox7.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

/* animation */

.screen6ContainerMainLeft.active {
  animation: slide-in-blurred-left 1.2s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation-delay: 0.2s;
}

.screen6ContainerMainLeft.hidden {
  animation: slide-out-left 1.2s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation-delay: 0.2s;
}

.screen6ContainerMainRight.active {
  animation: slide-in-blurred-right 1.2s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation-delay: 0.5s;
}

.screen6ContainerMainRight.hidden {
  animation: slide-out-right 1.2s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation-delay: 0.5s;
}

/* responsive */

@media only screen and (max-width: 440px) {
  .screen6ContainerMain {
    padding-left: calc(10 / 5 * 1vw);
    padding-right: calc(10 / 5 * 1vw);
    padding: calc(10 / 5 * 1vw) calc(10 / 5 * 1vw) calc(20 / 5 * 1vw)
      calc(10 / 5 * 1vw);
    flex-direction: column;
  }

  .screen6ContainerMainLeft {
    width: 100%;
    height: 47%;
    background-size: 100% 100%;
    padding-right: calc(10 / 5 * 1vw);
    padding-bottom: calc(16.5 / 5 * 1vw);
  }

  .screen6ContainerMainLeftInsideLeft {
    padding-left: calc(12 / 5 * 1vw);
    row-gap: calc(30 / 5 * 1vw);
    > img {
      width: calc(65 / 5 * 1vw);
    }
    > .box {
      width: calc(150 / 5 * 1vw);
      padding: calc(11 / 5 * 1vw) calc(8 / 5 * 1vw) calc(11 / 5 * 1vw)
        calc(11 / 5 * 1vw);
      border-radius: calc(8 / 5 * 1vw);
      margin-left: 0;
    }
    .boxTextTop,
    .boxTextBottom {
      row-gap: calc(10 / 19.2 * 1vw);
      > p:nth-child(1) {
        font-size: calc(14 / 5 * 1vw);
        line-height: calc(18 / 5 * 1vw);
      }
      > p:nth-child(2) {
        font-size: calc(6 / 5 * 1vw);
        line-height: calc(9 / 5 * 1vw);
      }
    }
    .boxTextBottom {
      margin-top: calc(10 / 5 * 1vw);
    }
  }

  .screen6ContainerMainLeftInsideright {
    width: calc(120 / 5 * 1vw);
    height: max-content;
    row-gap: calc(10 / 5 * 1vw);
    padding: calc(11 / 5 * 1vw) calc(8 / 5 * 1vw) calc(11 / 5 * 1vw)
      calc(11 / 5 * 1vw);
    border-radius: calc(8 / 5 * 1vw);
    margin-top: calc(7 / 5 * 1vw);
    > p:nth-child(1) {
      font-size: calc(10 / 5 * 1vw);
      line-height: calc(15 / 5 * 1vw);
    }
    > p:nth-child(2) {
      font-size: calc(7 / 5 * 1vw);
      line-height: calc(10 / 5 * 1vw);
    }
  }

  .screen6ContainerMainLeftBottom {
    margin-top: calc(70 / 5 * 1vw);
    .example3 {
      display: flex;
      align-items: center;
      column-gap: calc(14 / 5 * 1vw);
      > button {
        width: calc(70 / 5 * 1vw);
        height: calc(35 / 5 * 1vw);
        background-size: 100% 100%;
      }
      > p {
        width: calc(100 / 5 * 1vw);
        font-size: calc(10 / 5 * 1vw);
        line-height: calc(15 / 5 * 1vw);
      }
    }
  }

  .textBold {
    font-size: calc(33 / 5 * 1vw);
    line-height: calc(50 / 5 * 1vw);
  }

  .textWithBtns {
    column-gap: calc(40 / 5 * 1vw);
    margin-left: calc(25 / 5 * 1vw);
    > p {
      font-size: calc(30 / 5 * 1vw);
      line-height: calc(50 / 5 * 1vw);
    }
    > div {
      row-gap: calc(5 / 5 * 1vw);
      > button,
      > div > button {
        font-size: calc(10 / 5 * 1vw);
        line-height: calc(30 / 5 * 1vw);
        border-radius: calc(50 / 5 * 1vw);
      }
      > button {
        padding: 0 calc(15 / 5 * 1vw);
      }
      > div > button {
        padding: 0 calc(15 / 5 * 1vw);
      }
      > div {
        column-gap: calc(4 / 5 * 1vw);
      }
    }
  }

  .screen6ContainerMainRight {
    width: 100%;
    height: max-content;
    padding: calc(20 / 5 * 1vw) 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: calc(15 / 5 * 1vw);
  }

  .rightBox1,
  .rightBox4 {
    width: calc(196 / 5 * 1vw);
    height: calc(150 / 5 * 1vw);
    background-size: 100% 100%;
  }

  .rightBoxTop {
    padding: calc(7 / 5 * 1vw) calc(17.36 / 5 * 1vw) 0 calc(7 / 5 * 1vw);
    > p {
      font-size: calc(8 / 5 * 1vw);
      line-height: calc(22 / 5 * 1vw);
      padding: 0 calc(16 / 5 * 1vw);
    }
    > .socialBtns {
      column-gap: calc(5 / 5 * 1vw);
      > button {
        width: calc(24 / 5 * 1vw);
        height: calc(24 / 5 * 1vw);
        border-radius: 50%;
        > img {
          width: calc(12 / 5 * 1vw);
        }
      }
      > button:nth-child(2) {
        > img {
          width: calc(15 / 5 * 1vw);
        }
      }
    }
  }

  .rightBoxBottom {
    margin-top: calc(50 / 5 * 1vw);
    padding-left: calc(7 / 5 * 1vw);
    > p {
      width: calc(110 / 5 * 1vw);
      font-size: calc(10 / 5 * 1vw);
      line-height: calc(15 / 5 * 1vw);
      padding: calc(7 / 5 * 1vw) calc(9 / 5 * 1vw);
      border-radius: calc(5 / 5 * 1vw);
    }
  }

  .circleBtnWithArrowIcon {
    width: calc(25 / 5 * 1vw);
    height: calc(25 / 5 * 1vw);
    > img {
      width: calc(10 / 5 * 1vw);
    }
  }

  .rightBox2,
  .rightBox5 {
    width: calc(196 / 5 * 1vw);
    height: calc(80 / 5 * 1vw);
    background-size: 100% 100%;
    display: flex;
    column-gap: calc(10 / 5 * 1v);
    padding: calc(10 / 5 * 1vw) calc(10 / 5 * 1vw) calc(10 / 5 * 1vw)
      calc(10 / 5 * 1vw);
  }

  .rightBox2Text {
    > p {
      font-size: calc(9 / 5 * 1vw);
      line-height: calc(12 / 5 * 1vw);
    }
  }
  .rightBox2TextBg1 {
    width: calc(59 / 5 * 1vw);
    height: calc(47 / 5 * 1vw);
    background-size: 100% 100%;
    padding: calc(3 / 5 * 1vw);
  }

  .rightBox2TextBg2 {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
  }

  .rightBox3 {
    width: calc(196 / 5 * 1vw);
    height: calc(129 / 5 * 1vw);
    background-size: 100% 100%;
    padding: calc(7.13 / 5 * 1vw) 0 calc(3 / 5 * 1vw) calc(7 / 5 * 1vw);
    > p {
      width: calc(100 / 5 * 1vw);
      padding: calc(5 / 5 * 1vw) calc(6 / 5 * 1vw) calc(4 / 5 * 1vw)
        calc(5 / 5 * 1vw);
      border-radius: calc(5 / 5 * 1vw);
      font-size: calc(9 / 5 * 1vw);
      line-height: calc(12 / 5 * 1vw);
    }
    .rightBox3BottomText {
      column-gap: calc(10 / 5 * 1vw);
      margin-top: calc(55 / 5 * 1vw);
      > p {
        font-size: calc(20 / 5 * 1vw);
        line-height: calc(30 / 5 * 1vw);
      }
      > button {
        padding: 0 calc(10 / 5 * 1vw);
        font-size: calc(8 / 5 * 1vw);
        line-height: calc(20 / 5 * 1vw);
      }
    }
  }

  .rightBox6,
  .rightBox7 {
    width: calc(196 / 5 * 1vw);
    height: calc(150 / 5 * 1vw);
    background-size: 100% 100%;
    > .rightBox2Text {
      row-gap: calc(19 / 5 * 1vw);
      padding-left: calc(15 / 5 * 1vw);
      padding-right: calc(12 / 5 * 1vw);
      > div {
        width: 100%;
        height: calc(70 / 5 * 1vw);
        > p {
          font-size: calc(17 / 5 * 1vw);
          line-height: calc(13 / 5 * 1vw);
          text-shadow: 10px 1px 20px #000;
        }
      }
      > button {
        font-size: calc(10 / 5 * 1vw);
        line-height: calc(25 / 5 * 1vw);
        padding: 0 calc(14 / 5 * 1vw);
      }
    }
  }
}
