@import url("./font.css");
@import url("./animation.css");

.screen3Container {
  height: 100vh;
  position: relative;
}

.screen3ContainerWrapper {
  height: 100%;
  background: url("../assets/images/screen4/mainBg.webp");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  padding: 0 0 calc(58 / 19.2 * 1vw) calc(114 / 19.2 * 1vw);
  display: flex;
  column-gap: calc(143 / 19.2 * 1vw);
}

.screen3ContainerWrapper.active {
  animation: slide-in-blurred-right 2s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.screen3ContainerWrapper.hidden {
  animation: slide-out-right 2s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.screen3ContainerMineBg {
  width: calc(675 / 19.2 * 1vw);
  height: calc(528 / 19.2 * 1vw);
  position: absolute;
  top: 0;
  right: 0;
}

.screen3ContainerWrapperLeft {
  width: calc(614 / 19.2 * 1vw);
  height: calc(990 / 19.2 * 1vw);
  background: url("../assets/images/screen4/leftSvgBg1.webp"),
    url("../assets/images/screen4/leftSvgBg2.webp");
  background-position: top right, bottom right;
  background-size: 100% calc(430 / 19.2 * 1vw), 100% calc(520 / 19.2 * 1vw);
  background-repeat: no-repeat;
}

.screen3ContainerWrapperLeft.active {
  animation: slide-in-blurred-right 2s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation-delay: 1s;
}

.screen3ContainerWrapperLeft.hidden {
  animation: slide-out-right 1.5s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.screen3ContainerWrapperLeft > img {
  width: calc(148 / 19.2 * 1vw);
  margin: calc(17 / 19.2 * 1vw) 0 0 calc(66 / 19.2 * 1vw);
}

.imgSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: calc(45 / 19.2 * 1vw);
  > img {
    width: calc(280 / 19.2 * 1vw);
    height: calc(573 / 19.2 * 1vw);
  }
}

.imgSectionRight {
  padding-right: calc(27 / 19.2 * 1vw);
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: calc(105 / 19.2 * 1vw);
  > img {
    width: calc(262 / 19.2 * 1vw);
  }
}

.imgSectionRightItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: calc(16 / 19.2 * 1vw);
  > img {
    width: calc(180 / 19.2 * 1vw);
  }
  > p {
    font-family: Orbitron;
    font-size: calc(26 / 19.2 * 1vw);
    font-weight: 600;
    line-height: calc(19 / 19.2 * 1vw);
    color: #23282d;
    > sup {
      font-size: calc(18 / 19.2 * 1vw);
    }
  }
}

.wrapperaLeftSectionBottom {
  display: flex;
  flex-direction: column;
  row-gap: calc(62 / 19.2 * 1vw);
  margin-top: calc(48 / 19.2 * 1vw);
  padding-left: calc(47 / 19.2 * 1vw);
  > p {
    font-family: Orbitron;
    font-size: calc(26 / 19.2 * 1vw);
    font-weight: 600;
    line-height: calc(29 / 19.2 * 1vw);
    text-align: left;
    color: #23282d;
  }
  .creatorsImg {
    display: flex;
    align-items: center;
    > img {
      position: relative;
      width: calc(60 / 19.2 * 1vw);
      height: calc(60 / 19.2 * 1vw);
    }
    > img:nth-child(1) {
      z-index: 1;
    }
    > img:nth-child(2) {
      z-index: 2;
      margin-left: calc(-12 / 19.2 * 1vw);
    }
    > img:nth-child(3) {
      z-index: 3;
      margin-left: calc(-12 / 19.2 * 1vw);
    }
    > img:nth-child(4) {
      z-index: 4;
      margin-left: calc(-12 / 19.2 * 1vw);
    }
  }
}

.screen3ContainerWrapperRight {
  padding-top: calc(160 / 19.2 * 1vw);
  .screen3ContainerWrapperRightTitle {
    display: flex;
    flex-direction: column;
    row-gap: calc(10 / 19.2 * 1vw);
    > p:first-child {
      font-family: Orbitron;
      font-size: calc(64 / 19.2 * 1vw);
      font-weight: 700;
      line-height: calc(72 / 19.2 * 1vw);
      text-align: left;
      color: #23282d;
      > sup {
        font-size: calc(40 / 19.2 * 1vw);
      }
    }
    > p:nth-child(2) {
      width: calc(904 / 19.2 * 1vw);
      font-family: Raleway;
      font-size: calc(20 / 19.2 * 1vw);
      font-weight: 500;
      line-height: calc(29 / 19.2 * 1vw);
      text-align: left;
      color: #656666;
    }
  }
}

.screen3ContainerWrapperRight.active {
  animation: slide-in-blurred-right 2s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation-delay: 1.4s;
}

.screen3ContainerWrapperRight.hidden {
  animation: slide-out-right 1.5s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.screen3ContainerWrapperRightBtns {
  margin-top: calc(57 / 19.2 * 1vw);
  display: flex;
  align-self: center;
  column-gap: calc(8 / 19.2 * 1vw);
  > button:first-child {
    padding: calc(26 / 19.2 * 1vw) calc(49 / 19.2 * 1vw);
    border-radius: calc(100 / 19.2 * 1vw);
    background: #23282d;
    border: calc(1 / 19.2 * 1vw) solid #23282d;
    font-family: Raleway;
    font-size: calc(20 / 19.2 * 1vw);
    font-weight: 600;
    line-height: calc(29 / 19.2 * 1vw);
    color: #fff;
    &:hover {
      background: none;
      color: #23282d;
    }
  }
  > button:nth-child(2) {
    width: calc(80 / 19.2 * 1vw);
    height: calc(80 / 19.2 * 1vw);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    > img {
      width: calc(30 / 19.2 * 1vw);
    }
  }
  > button:last-child {
    width: calc(214 / 19.2 * 1vw);
    height: calc(80 / 19.2 * 1vw);
    border-radius: calc(100 / 19.2 * 1vw);
    border: none;
    background: url("../assets/images/screen4/btnBg.webp");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    &:hover {
      background-size: 120%;
    }
  }
}

.screen3ContainerWrapperRightBottom {
  margin-top: calc(101 / 19.2 * 1vw);
  width: calc(1044 / 19.2 * 1vw);
  display: flex;
  flex-direction: column;
  row-gap: calc(32 / 19.2 * 1vw);
  > .screen3Line {
    height: calc(2 / 19.2 * 1vw);
    background: #23282d;
  }
}

.screen3ContainerWrapperRightBottomItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: calc(71 / 19.2 * 1vw);
  > p {
    font-family: Orbitron;
    font-size: calc(64 / 19.2 * 1vw);
    font-weight: 700;
    line-height: calc(79 / 19.2 * 1vw);
    color: #23282d;
  }
  > .WrapperRightBottomItemBox {
    display: flex;
    align-items: center;
    column-gap: calc(28 / 19.2 * 1vw);
    > img {
      width: calc(91 / 19.2 * 1vw);
      height: calc(92 / 19.2 * 1vw);
    }
    > p {
      width: calc(586 / 19.2 * 1vw);
      font-family: Raleway;
      font-size: calc(20 / 19.2 * 1vw);
      font-weight: 400;
      line-height: calc(29 / 19.2 * 1vw);
      color: #23282d;
      > span {
        font-weight: 600;
      }
    }
  }
}

/* responsive */

@media only screen and (max-width: 440px) {
  .screen3ContainerWrapper {
    background-size: 100% 100vh;
    flex-direction: column;
    padding: 0;
  }

  .screen3ContainerMineBg {
    width: calc(275 / 5 * 1vw);
    height: calc(228 / 5 * 1vw);
  }

  .screen3ContainerWrapperLeft {
    width: 77%;
    height: calc(500 / 5 * 1vw);
    background-position: top left, bottom left;
    background-size: 100% calc(220 / 5 * 1vw), 100% calc(270 / 5 * 1vw);
    > img {
      width: calc(90 / 5 * 1vw);
      margin: calc(5 / 5 * 1vw) 0 0 calc(30 / 5 * 1vw);
    }
  }

  .imgSection {
    align-items: flex-end;
    justify-content: flex-start;
    column-gap: calc(50 / 5 * 1vw);
    margin-top: 0;
    > img {
      width: calc(180 / 5 * 1vw);
      height: calc(290 / 5 * 1vw);
      margin-top: calc(15 / 5 * 1vw);
    }
  }

  .imgSectionRight {
    padding-right: calc(27 / 5 * 1vw);
    row-gap: calc(50 / 5 * 1vw);
    > img {
      width: calc(110 / 5 * 1vw);
    }
  }

  .imgSectionRightItem {
    row-gap: calc(10 / 5 * 1vw);
    > img {
      width: calc(90 / 5 * 1vw);
    }
    > p {
      font-size: calc(12 / 5 * 1vw);
      line-height: calc(15 / 5 * 1vw);
      > sup {
        font-size: calc(8 / 5 * 1vw);
      }
    }
  }

  .wrapperaLeftSectionBottom {
    row-gap: calc(22 / 5 * 1vw);
    margin-top: calc(28 / 5 * 1vw);
    padding-left: calc(27 / 5 * 1vw);
    > p {
      font-size: calc(15 / 5 * 1vw);
      line-height: calc(19 / 5 * 1vw);
    }
    .creatorsImg {
      > img {
        width: calc(35 / 5 * 1vw);
        height: calc(35 / 5 * 1vw);
      }
      > img:nth-child(2) {
        margin-left: calc(-5 / 5 * 1vw);
      }
      > img:nth-child(3) {
        margin-left: calc(-5 / 5 * 1vw);
      }
      > img:nth-child(4) {
        margin-left: calc(-5 / 5 * 1vw);
      }
    }
  }

  .screen3ContainerWrapperRight {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(50 / 5 * 1vw);
    .screen3ContainerWrapperRightTitle {
      row-gap: calc(10 / 5 * 1vw);
      justify-content: center;
      align-items: center;
      > p:first-child {
        font-size: calc(34 / 5 * 1vw);
        line-height: calc(42 / 5 * 1vw);
        text-align: center;
        > sup {
          font-size: calc(25 / 5 * 1vw);
        }
      }
      > p:nth-child(2) {
        width: calc(420 / 5 * 1vw);
        font-size: calc(15 / 5 * 1vw);
        line-height: calc(19 / 5 * 1vw);
        text-align: center;
      }
    }
  }

  .screen3ContainerWrapperRightBtns {
    margin-top: calc(20 / 5 * 1vw);
    margin-bottom: calc(30 / 5 * 1vw);
    column-gap: calc(8 / 5 * 1vw);
    > button:first-child {
      padding: calc(10 / 5 * 1vw) calc(20 / 5 * 1vw);
      border-radius: calc(100 / 5 * 1vw);
      background: #23282d;
      border: calc(1 / 5 * 1vw) solid #23282d;
      font-size: calc(12 / 5 * 1vw);
      line-height: calc(20 / 5 * 1vw);
    }
    > button:nth-child(2) {
      width: calc(40 / 5 * 1vw);
      height: calc(40 / 5 * 1vw);
      > img {
        width: calc(15 / 5 * 1vw);
      }
    }
    > button:last-child {
      width: calc(100 / 5 * 1vw);
      height: calc(40 / 5 * 1vw);
      border-radius: calc(100 / 5 * 1vw);
      background-size: 100% 100%;
    }
  }

  .screen3ContainerWrapperRightBottom {
    margin-top: 0;
    width: 95%;
    row-gap: calc(12 / 5 * 1vw);
    > .screen3Line {
      height: calc(2 / 19.2 * 1vw);
      background: #23282d;
    }
  }

  .screen3ContainerWrapperRightBottomItem {
    display: flex;
    justify-content: flex-start;
    column-gap: calc(40 / 5 * 1vw);
    > p {
      width: calc(70 / 5 * 1vw);
      font-size: calc(44 / 5 * 1vw);
      line-height: calc(55 / 5 * 1vw);
    }
    > .WrapperRightBottomItemBox {
      column-gap: calc(20 / 5 * 1vw);
      > img {
        width: calc(51 / 5 * 1vw);
        height: calc(52 / 5 * 1vw);
      }
      > p {
        width: calc(270 / 5 * 1vw);
        font-size: calc(15 / 5 * 1vw);
        line-height: calc(20 / 5 * 1vw);
      }
    }
  }
}
